<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Employee</title>

      </head>
  <body>
      <div>
          All users
          <%= @users%>
      </div>
  </body>
</html>
