<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Employee</title>

      </head>
  <body>
      <div>
          <form action="/save" method="post">
              <div class="form-group">
                  <input autocomplete="off" autofocus class="form-control" name="fname" placeholder="First name" type="text">
              </div>
              <div class="form-group">
                  <input class="form-control" name="lname" placeholder="Last name" type="text">
              </div>
              <div class="form-group">
                  <input class="form-control" name="ysalary" placeholder="Year salary" type="number">
              </div>
              <button class="btn btn-primary" type="submit">Save user</button>
          </form>
      </div>
  </body>
</html>
